.saved-news-page {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.keywords span {
  font-weight: 700;
}

.news-cards-container {
  background: rgba(245, 246, 247, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Add padding, margin, or other styles */
}
