.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.popup__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 430px;
  height: fit-content;
  border-radius: 16px;
  border: 1px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__wrapper {
  position: relative;
  bottom: 10px;
  right: 0;
}

.popup__close {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 42px;
  left: 232px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("../../images/close.svg");
}

.popup__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  height: 32px;
  margin-top: 0;
}

.popup__form {
  width: 358px;
  border: 1px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: rgba(47, 113, 229, 1);
  margin-top: 32px;
}

.popup__confirm-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  width: 315px;
  height: 56px;
}

.popup__input {
  width: 358px;
  border: 1px;
  opacity: 0.2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 12px;
}

.popup__buttons {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.popup__label-password {
  margin-top: 30px;
}

.popup__submit {
  width: 360px;
  height: 64px;
  background: rgba(47, 113, 229, 1);
  margin: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  margin-top: 39px;
  margin-bottom: 0;
}

.popup__submit-disabled {
  width: 360px;
  height: 64px;
  background: rgba(230, 232, 235, 1);
  margin: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(182, 188, 191, 1);
  border: none;
  border-radius: 30px;
  margin-top: 39px;
  margin-bottom: 0;
}

.popup__switch {
  width: 358px;
  height: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
  background-color: transparent;
  border: none;
  margin-top: 16px;
  margin-bottom: 10px;
}

.popup__span {
  color: rgba(47, 113, 229, 1);
}

.popup__confirm-button {
  color: rgba(47, 113, 229, 1);
  border: none;
  background-color: transparent;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  width: 315px;
  height: 18px;
  padding: 0;
  margin-bottom: 51px;
}

.popup__error {
  width: 200px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff0000;
  margin: auto;
}

.popup__error-login {
  width: 200px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff0000;
  margin: 0 0 0 0;
}

.popup__label-password {
  margin-top: 31px;
}

.popup__label-username {
  margin-top: 30px;
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (max-width: 768px) {
  .popup__content {
      /* Tablet-specific styles for .popup__content */
      width: auto; /* Example: adjust width */
      margin: 20px; /* Example: add margin */
  }

  /* Add tablet-specific styles for other .popup classes here */
  .popup__wrapper,
  .popup__close,
  .popup__title,
  .popup__form,
  .popup__confirm-text,
  .popup__input,
  .popup__buttons,
  .popup__submit,
  .popup__submit-disabled,
  .popup__switch,
  .popup__span,
  .popup__confirm-button,
  .popup__error,
  .popup__error-login,
  .popup__label-password,
  .popup__label-username {
      /* Tablet-specific styles */
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (max-width: 320px) {
  .popup__content {
      /* Mobile-specific styles for .popup__content */
      width: 90%; /* Example: adjust width */
      margin: 10px; /* Example: adjust margin */
  }

  /* Add mobile-specific styles for other .popup classes here */
  .popup__wrapper,
  .popup__close,
  .popup__title,
  .popup__form,
  .popup__confirm-text,
  .popup__input,
  .popup__buttons,
  .popup__submit,
  .popup__submit-disabled,
  .popup__switch,
  .popup__span,
  .popup__confirm-button,
  .popup__error,
  .popup__error-login,
  .popup__label-password,
  .popup__label-username {
      /* Mobile-specific styles */
  }
}
