.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 430px;
  height: fit-content;
  border-radius: 16px;
  border: 1px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__close {
  position: relative;
  bottom: 50px;
  left: 220px;
  width: 0px;
  height: 0px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.popup__close-icon {
  width: 40px;
  height: 40px;
}

.popup__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  height: 32px;
  margin-top: 0;
}

.popup__form {
  width: 358px;
  border: 1px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: rgba(47, 113, 229, 1);
  margin-top: 32px;
}

.popup__confirm-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  width: 315px;
  height: 56px;
}

.popup__input {
  width: 358px;
  border: 1px;
  opacity: 0.2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 12px;
}

.popup__buttons {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.popup__label-password {
  margin-top: 30px;
}

.popup__submit {
  width: 360px;
  height: 64px;
  background: rgba(47, 113, 229, 1);
  margin: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  margin-top: 39px;
  margin-bottom: 0;
}

.popup__submit-disabled {
  width: 360px;
  height: 64px;
  background: rgba(230, 232, 235, 1);
  margin: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(182, 188, 191, 1);
  border: none;
  border-radius: 30px;
  margin-top: 39px;
  margin-bottom: 0;
}

.popup__switch {
  width: 358px;
  height: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
  background-color: transparent;
  border: none;
  margin-top: 16px;
  margin-bottom: 28px;
}

.popup__span {
  color: rgba(47, 113, 229, 1);
}

.popup__confirm-button {
  color: rgba(47, 113, 229, 1);
  border: none;
  background-color: transparent;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  width: 315px;
  height: 18px;
  padding: 0;
  margin-bottom: 51px;
}

.popup__error {
  width: 200px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff0000;
  margin: auto;
}

.popup__error-login {
  width: 200px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff0000;
  margin: 0 0 0 0;
}

.popup__wrapper {
  padding-top: 34px;
}

.popup__label-password {
  margin-top: 31px;
}

.popup__label-username {
  margin-top: 30px;
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .popup__content {
    border-radius: 16px;
    bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    margin-top: 56px;
  }

  .popup__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }

  .popup__form {
    margin: auto;
    margin-top: 18px;
  }

  .popup__input {
    width: 288px;
    height: 46px;
    margin: auto;
  }

  .popup__title {
    margin-bottom: 0;
    width: 288px;
    height: 28px;
    margin: auto;
  }

  .popup__label-password {
    margin-top: 30px;
    margin: auto;
  }

  .popup__submit {
    width: 288px;
    height: 64px;
    margin-top: 23px;
  }

  .popup__label-password {
    width: 288px;
    margin-top: 30px;
  }
  .popup__label-email {
    width: 288px;
    margin: auto;
  }
  .popup__label-username {
    width: 288px;
    margin: auto;
    margin-top: 30px;
  }

  .popup__close{
    position: unset;
    display: flex;

    height: 24px;
    width: 24px;
  }

  .popup__close-icon {
    /* bottom: 50px;
    right: 10px; */
    height: 24px;
    width: 24px;
    background-color: #ff0000;
  }
}
