.saved-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: black;
  height: 100%;
  background: #c4c4c403;
  border-bottom: 1px solid #d1d2d6;
}

.saved-header__content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px 0 104px;
  color: black;
  height: 80px;
  margin: auto;
}

.saved-header__button {
  color: #1a1b22;
  background: transparent;
  border: none;
}

.saved-header__button--news-explorer {
  font-family: "Roboto Slab", "Roboto", "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 200px;
  height: 24px;
  padding: 2px 0 0 0;
}

.saved-header__button--home {
  width: 68px;
  height: 24px;
  font-family: "Roboto", "Inter", "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.saved-header__button--articles {
  width: 174px;
  height: 24px;
  font-family: "Roboto", "Inter", "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border-bottom: 3px solid #1a1b22;
  padding-bottom: 48px;
  margin: 30px 0 2px 0;
}

.saved-header__button--name {
  border: 1px solid #D1D2D6;
  font-family: "Roboto", "Inter", "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 112px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6px;
}

.saved-header__button--name:hover {
  border: 1px solid #1a1b22;
}

.saved-header__logout-icon {
  width: 24px;
  height: 24px;
}

.saved-header__login-area {
  display: flex;
  height: 80px;
  width: 424px;
  justify-content: space-between;
  align-items: center;
}

.saved-header__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .saved-header {
    height: 66px;
  }

  .saved-header__content {
    height: 66px;
    padding: 0 40px 0 40px;
  }

  .saved-header__button--news-explorer {
    font-family: "Roboto Slab", "Roboto", "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    width: 200px;
    height: 24.8px;
    padding: 2px 0 0 0;
  }

  .saved-header__button--home {
    font-size: 16px;
    line-height: 24px;
  }

  .saved-header__button-signin {
    width: 152px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .saved-header__right-buttons {
    margin-right: 40px;
    width: 230px;
  }

  .saved-header__button--articles {
    width: 160px;
    height: 24px;
    font-family: "Roboto", "Inter", "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 42px;
    margin-bottom: 6px;
  }

  .saved-header__button--name {
    width: 100px;
    height: 40px;
    font-family: "Roboto", "Inter", "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-overflow: ellipsis;
    justify-content: space-around;
  }

  .saved-header__login-area {
    width: 358px;
    height: 66px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved-header {
    width: 0;
    display: none;
  }
}
