.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  width: 608px;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  margin-bottom: 32px;
  color: white;
}

.main-wrapper {
  width: 100%;
  height: 576px;
  background-image: url("../../images/main.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__subtitle {
  width: 608px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 88px;
  color: white;
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (max-width: 768px) {
  .main {
      /* Tablet-specific styles for .main */
  }

  .main__title {
      /* Tablet-specific styles for .main__title */
  }

  .main-wrapper {
      /* Tablet-specific styles for .main-wrapper */
  }

  .main__subtitle {
      /* Tablet-specific styles for .main__subtitle */
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (max-width: 320px) {
  .main {
      /* Mobile-specific styles for .main */
  }

  .main__title {
      /* Mobile-specific styles for .main__title */
  }

  .main-wrapper {
      /* Mobile-specific styles for .main-wrapper */
  }

  .main__subtitle {
      /* Mobile-specific styles for .main__subtitle */
  }
}
