.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  width: 608px;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  margin-bottom: 32px;
  color: white;
}

.main__subtitle {
  width: 608px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 88px;
  color: white;
}