.saved-news__cards {
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saved-news__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
  gap: 16px;
  padding-top: 62px;
  padding-bottom: 62px;
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .saved-news__cards {
    width: 100%;
  }

  .saved-news__container {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 8px;
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
.saved-news__page{
  width: 100%;
}

  .saved-news__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    padding-top: 24px;
    gap: 10px;
  }
}
