.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 624px;
  margin-bottom: 80px;
  width: 100%;
}

.about__image {
  width: 464px;
  height: 464px;
  margin-left: 104px;
  margin-right: 56px;
  margin-top: 80px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: seashell;
}

.about__text {
  width: 600px;
  margin-right: 216px;
  padding-bottom: 180px;
}

.about__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 70px;
  height: 46px;
  width: 600px;
}

.about__description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 600px;
  height: 120px;
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    margin-bottom: 61px;
  }

  .about__image {
    width: 232px;
    height: 232px;
    border-radius: 1000px;
    margin-top: 61px;
    margin-left: 40px;
  }

  .about__text {
    width: 424px;
    margin-right: 40px;
  }

  .about__title {
    width: 424px;
    height: 34px;
    margin-top: 40px;
  }

  .about__description {
    width: 424px;
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-bottom: 0;
  }

  .about__image {
    width: 272px;
    height: 272px;
    margin: 0;
    margin-top: 32px;
  }

  .about__text {
   margin: auto;
   width: 320px;
   height: inherit;
   padding-bottom: 0;
   margin-top: 16px;
  }

  .about__title {
    width: 288px;
    height: 40px;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin: auto;
    margin-bottom: 24px;
  }

  .about__description {
    width: 288px;
    height: 240px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: auto;
  }
}
