.search-Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.search-Form__search-bar {
  width: 608px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #ffffff;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.search-Form__search-input {
  width: 440px;
  height: 64px;
  padding-left: 12px;
  background-color: transparent;
  border: none;
  font-family: 'Roboto', 'Inter', 'Roboto Slab', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-left: 24px;
}

::placeholder {
  color: rgba(182, 188, 191, 1);
  padding-left: 6px;
}

.search-Form__search-button {
  width: 168px;
  height: 66px;
  border: none;
  border-radius: 30px;
  background-color: rgba(47, 113, 229, 1);
  padding: 0;
  font-family: 'Roboto', 'Inter', 'Roboto Slab', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0;
}

.search-Form__search-button:hover {
  cursor: pointer;
  background: rgba(52, 126, 255, 1);
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-Form__search-bar {
    width: 452px;
    height: 56px;
    margin-bottom: 48px;
  }

  .search-Form__search-input {
    width: 228px;
    height: 22px;
  }

  .search-Form__search-button {
    width: 160px;
    height: 56px;
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-Form {
    padding-bottom: 32px;
  }

  .search-Form__search-input {
    width: 288px;
    height: 56px;
    border: 1px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-radius: 30px;
  }
  .search-Form__search-bar {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0;
    background-color: transparent;
    width: 320px;
  }

  .search-Form__search-button {
    width: 288px;
    height: 56px;
  }
}
