/* MobileHeader.css */

.mobile-header {
  display: flex;
  align-items: center;
  margin: 0;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-header__container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  width: 302px;
  margin: auto;
}

.mobile-header__menu-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 16px 16px 16px 0px;
}

.mobile-header__button--news-explorer {
  width: 117px;
  height: 24px;
  font-family: 'Roboto Slab', 'Roboto', 'Inter', sans-serif;
  font-size: 15.7px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: px;
  text-align: left;
  color: #ffffff;
  background: transparent;
  border: none;
  padding-top: 16px;
}

.mobile-header__menu-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-self: center;
}

.mobile-header--saved-news {
  border-bottom: 1px solid #d1d2d6;
}

.mobile-header__button--news-explorer-saved-news {
  width: 117px;
  height: 24px;
  font-family: 'Roboto Slab', 'Roboto', 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(26, 27, 34, 1);
}
