.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  background: #ffffff;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.footer__text {
  width: 433px;
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
  margin-left: 104px;
}

.footer__buttons-right {
  display: flex;
  margin-right: 80px;
}

.footer__button {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding-right: 40px;
  padding-left: 0;
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__icon-button {
  background-color: transparent;
  border: none;
  height: 24px;
  width: 24px;
  margin-right: 24px;
  padding: 0;
}

.footer__icon-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .footer__text {
   width: 300px;
   margin-left: 40px;
  }

  .footer__buttons-right {
    width: 320px;
    margin-right: 40px;
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (max-width: 320px) {
  .footer {
    /* Mobile-specific styles for .footer */
  }

  .footer__text {
    /* Mobile-specific styles for .footer__text */
  }

  .footer__buttons-right {
    /* Mobile-specific styles for .footer__buttons-right */
  }

  .footer__button {
    /* Mobile-specific styles for .footer__button */
  }

  .footer__icon-button {
    /* Mobile-specific styles for .footer__icon-button */
  }
}
