.footer {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.footer__content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  width: 433px;
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
  padding-left: 104px;
}

.footer__buttons-right {
  display: flex;
  padding-right: 104px;
}

.footer__button {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding-right: 40px;
  padding-left: 0;
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__icon-button {
  background-color: transparent;
  border: none;
  height: 24px;
  width: 24px;
  padding-right: 24px;
}

.footer__icon-button--facebook {
  padding: 0;
}

.footer__icon-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    width: 100%;
    height: 64px;
  }
  .footer__text {
    width: 300px;
    padding-left: 40px;
  }

  .footer__buttons-right {
    width: 320px;
    padding-right: 40px;
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    height: 100%;
    width: 100%;
  }

  .footer__content {
    height: 160px;
    width: 288px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .footer__text {
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    width: 288px;
    justify-content: center;
    order: 3;
    margin-top: 38px;
    padding: 0;
  }

  .footer__buttons-right {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 288px;
    height: 74px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__icon-button {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .footer__far-right {
    display: flex;
    justify-content: space-between;
    order: 2;
  }

  .footer__middle-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    order: 1;
  }

  .footer__icon-button--facebook {
    padding: 0;
  }
}
