.news-card {
  width: 400px;
  height: 576px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border: #ffffff;
  overflow: hidden;
}

.news-card__image-container {
  width: 400px;
  height: 272px;
  display: flex;
  overflow: hidden;
}

.news-card__button--save {
  position: relative;
  top: 10px;
  right: 54px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
}

.news-card__image {
  width: 400px;
  height: 272px;
  object-fit:fill;
  display: flex;
}

.news-card__content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 24px;
  height: 304px;
}

.news-card__date {
  width: 149px;
  height: 24px;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
  padding-top: 20px;
  padding-bottom: 12px;
}
.news-card__source {
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  height: 20px;
  color: rgba(182, 188, 191, 1);
  padding-bottom: 24px;
}

.news-card__title {
  font-family: Roboto Slab;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  width: 352px;
  height: 60px;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.news-card__description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  width: 352px;
  height: 110px;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 18px;
  margin-top: 16px;
}
