/* SavedNewsInfo.css */

.saved-news-info {
  font-family: Roboto;
  margin-left: 104px;
}

.saved-articles-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1b2280;
  width: 712px;
  height: 24px;
  margin-top: 40px;
}

.user-saved-articles {
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: #1a1b22;
  width: 530px;
  height: 92px;
  margin-top: 28px;
}

.by-keywords {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1b22;
  width: 712px;
  height: 24px;
  margin-top: 30px;
  margin-bottom: 56px;
}

.keywords {
  font-weight: 700;
}

.other-keywords {
  font-weight: 700;
}

/* Tablet (screens less than or equal to 768px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .saved-news-info {
    margin-left: 40px;
  }

  .saved-articles-title {
    width: 712px;
    height: 24px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 24px;
  }
  .user-saved-articles {
    width: 336px;
    height: 68px;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
  }
  .by-keywords {
    width: 712px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
  }
  .keywords {
    font-family: Roboto;
    font-weight: 700;
    size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    padding-left: 4px;
  }
}

/* Mobile Phones (screens less than or equal to 320px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved-news-info {
    width: 320px;
    margin-left: 16px;
  }

  .saved-articles-title {
    width: 288px;
    height: 24px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;
  }
  .user-saved-articles {
    width: 288px;
    height: 68px;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
  }
  .by-keywords {
    width: 288px;
    height: 48px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 50px;
  }
  .keywords {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .other-keywords {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
}
