.saved-news-info {
  font-family: Roboto;
  padding-left: 104px;
}

.saved-news-info__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1b2280;
  width: 712px;
  height: 24px;
  margin-top: 40px;
}

.saved-news-info__stats {
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: #1a1b22;
  width: 530px;
  height: 92px;
  margin-top: 28px;
}

.saved-news-info__keywords {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1b22;
  width: 712px;
  height: 24px;
  margin-top: 30px;
  margin-bottom: 56px;
}

.saved-news-info__keywords-list {
  font-weight: 700;
}

.saved-news-info__keywords-other {
  font-weight: 700;
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .saved-news-info {
    padding-left: 40px;
  }

  .saved-news-info__title {
    width: 712px;
    height: 24px;
    margin-top: 24px;
  }

  .saved-news-info__stats {
    width: 336px;
    height: 68px;
    margin-top: 16px;
  }

  .saved-news-info__keywords {
    width: 712px;
    height: 24px;
    margin-top: 16px;
  }

  .saved-news-info__keywords-list {
    padding-left: 4px;
  }
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved-news-info {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin: auto;
    padding: 0;
  }

  .saved-news-info__title {
    width: 288px;
    height: 24px;
    margin-top: 8px;
  }

  .saved-news-info__stats {
    width: 288px;
    height: 68px;
    margin-top: 16px;
  }

  .saved-news-info__keywords {
    width: 288px;
    height: 48px;
    margin-top: 50px;
    margin-bottom: 32px;
  }

  .saved-news-info__keywords-list {
    /* Retains the same font-weight */
    font-weight: 700;
  }

  .saved-news-info__keywords-other {
    /* Retains the same font-weight */
    font-weight: 700;
  }
}
